header{
  background-color: rgb(244, 17, 21);
  color: aliceblue;
  text-align: center;
  padding: 2%;

}
.parrafo{
  text-align: center;
}

.menu{
    background-image: url('./tecnologia.jpg');
    &__parrafo1{
    color: red;
    font-family:floor($number: 5);
    width: 50%;
    padding: 30%;
    font-size: x-large;
    }
    &__parrafo2{
      color: aliceblue;
    }
    &__section{
      display: flex;
      flex-direction: row;
    }
    &__titulo{
      color: aliceblue;
      text-align: center;
    }
    &__caja1{
      width: 30%;
      background: red;
      margin-left: 1%;
    }
    &__numero{
      background: gray;
      width: 10%;
      margin-left: 90%;
      color: aliceblue;
    }
  
}



 